/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: var(--light-white);
    background: #3779884a;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: var(--sans-serif);
}


.headers {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: -2px -8px 14px 1px var(--medium-light-white);
}