/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: var(--light-white);
    background: #3779884a;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: var(--sans-serif);
}


.headers {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: -2px -8px 14px 1px var(--medium-light-white);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    padding: 15px 16px;
    max-width: 98%;
    margin: auto;

}

.logo-content {
    display: flex;
    gap: 0.5rem;
}

.logo-content>img {
    width: 3.5rem;
    object-fit: contain;
}

.logo-text {
    line-height: 1.8rem;
}

.logo-text>h1,
.logo-text>h2 {
    letter-spacing: 1px;
    font-weight: 500;
}

.logo-text>h1 {
    color: var(--medium-light-white);
    font-size: 25px;
}

.logo-text>h2 {
    color: var(--light-red);
    
}

.nav-section {
    display: flex;
    gap: 15px;
    align-items: center;
}